.container {
  display: flex;
  justify-content: center;
}

.product {
  border: 1px solid #000;
  padding: 10px;
  list-style: none;
  border-radius: 5px;
  margin: 40px 10px 0px 20px;
}

.remove {
  margin: 20px 0 0 20px;
}
.product button{
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: center;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 10px;
  background-color:rgb(20, 66, 110);
  font-weight: bolder;
}
